body {

  margin: 0;
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 1.5; */
  color: #212529;
  text-align: left;
  background-color: #fff;}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

p {
  margin: 5px;
}

.container {
  display: flex;
  justify-content: center;
}

.formContainer {
  margin-top: 30px;
  text-align: center;
}

.formGroup {
  height: 50px;
}

.formButton {
  width: 50%;
  background-color: rgb(39, 145, 194);
  height: 30px;
  border: none;
}

.form-footer {
  padding-top: 6px;
  text-align: center;
}

input {
  height: 30px;
  padding-left: 1px;
}

.icheck {
  display: flex;
    align-items: center;
    justify-content: center;
}

.text-danger {
  color: red;
  display: flex;
  font-size: x-small;
  justify-content: center;
}

input.error {
  border: 1px solid red;
}

.btn-primary {
  background-color: inherit;
  border-color: grey;
}
  .btn-primary:hover {
    background-color: inherit;
    border-color: grey;
  }

.g-recaptcha {
  transform:scale(0, 70);
  -webkit-transform:scale(0.70);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
  margin-left: 15%;
  margin-bottom: -10%;
}

#remember {
  margin-top: -3%;
}