.container {
  display: flex;
  justify-content: center;
}

.formContainer {
  margin-top: 30px;
  text-align: center;
}

form {
  /* height: 55px; */
}

.formGroup {
  height: 50px;
}

input {
  height: 30px;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -22px;
  font-size: 11px;
  margin-bottom: 9px;
}

.text-danger {
  color: red;
  display: flex;
  font-size: x-small;
  justify-content: center;
}

.is-invalid {
  border: red;
}